/* styles/blue-theme.css */
.theme-light,
.theme-dark,
.theme-blue {
  transition: background 2s ease 0.5s, color 2s ease 0.5s;
}



body.theme-blue {
  position: absolute;
  inset: 0;
  z-index: 0;

  background: #020617;
  background-image:
    linear-gradient(to right, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
    radial-gradient(circle at 50% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
  background-size: 32px 32px, 32px 32px, 100% 100%;
  color: white;
  }
  
  .navbar,
  button {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    
  }
  
  body.theme-blue {
    font-family: 'Pacifico';
  }

  @import "tailwindcss";

.theme-blue {
  --bg-card: #959ca1; 
  --text-primary: #fdfdfd; 
  --text-secondary: #050505;
  --button-bg: #bae6fd; 
  --button-active: #1d4ed8;
  --button-text: #992929;
}


body.theme-blue .view-toggle-container {
  background-color: #e0f0ff;
  font-size: 20px;
}

body.theme-blue .view-toggle-button {
  color: #e6e8ec;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  animation-duration: 1s;
}

body.theme-blue .view-toggle-button.active {
  background-color: #7294f1;
  color: white;
  font-weight: bold;
  transform: scale(1.3);
}