/* styles/dark-theme.css */
body.theme-dark {
    background: linear-gradient(to right, #1e1e2f, #2c2c3c);
    color: #f5f5f5;
  }
  
  .navbar,
  button {
    background: linear-gradient(to right, #be1bb6, #444);
    color: #fff;
  }
  