/* theme-light.css */
/* body.theme-light {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(150,206,180,0.2) 70%);
    color: black;
    font-family: 'sans-serif';
}
   */
   /* styles/light-theme.css */
.theme-light,
.theme-dark,
.theme-blue {
  transition: background 2s ease 1s, color 2s ease 1s;
}
body.theme-light {
 background: #F4F1ED;
  color: #222;
}

.navbar,
nav{
  background-color: black;
  color: white;
}
button {
  
  /* background: linear-gradient(to right, #ffffff, #f2f2f2); */
}
body.theme-light .dropdown {
  background-color: white;
  color: black;
}

body.theme-light .dropdown option {
  color: black;
}

@import "tailwindcss";

.theme-light {
  --bg-card: #f3f4f6; /* Tailwind bg-gray-200 */
  --text-primary: #789ed4; /* Tailwind text-gray-800 */
  --text-secondary: #4b5563; /* Tailwind text-gray-600 */
  --button-bg: #e5e7eb; /* Tailwind bg-gray-200 */
  --button-active: #3b82f6; /* Tailwind bg-blue-500 */
  --button-text: #ffffff;
}


body.theme-light .view-toggle-container {
  background-color: #f3f4f6;
}

body.theme-light .view-toggle-button.active {
  background-color: #000;
  color: #fff;
}
