/* theme-light.css */
/* body.theme-light {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(150,206,180,0.2) 70%);
    color: black;
    font-family: 'sans-serif';
}
   */
   /* styles/light-theme.css */
body.theme-light {
  background: linear-gradient(to right, #f0f0f0, #ffffff);
  color: #222;
}

.navbar,
nav{
  background-color: black;
  color: white;
}
button {
  background-color: black;
  /* background: linear-gradient(to right, #ffffff, #f2f2f2); */
}
body.theme-light .dropdown {
  background-color: white;
  color: black;
}

body.theme-light .dropdown option {
  color: black;
}
